<input type="text" [(ngModel)]="searched" (keyup)="search()">
<a mat-icon-button routerLink="/consumer/new">
  <mat-icon>person_add</mat-icon>
</a>
<table>
  <thead>
    <tr>
      <td>id</td>
      <td>Civility</td>
      <td>Firstname</td>
      <td>Lastname</td>
      <td>phone</td>
      <td>email</td>
      <td>action</td>
    </tr>
  </thead>
  <tr *ngFor="let consumer of consumersObs | async">
    <td>{{consumer.id}}</td>
    <td>{{consumer.civility}}</td>
    <td>{{consumer.firstname}}</td>
    <td>{{consumer.lastname}}</td>
    <td>{{consumer.phone|phone}}</td>
    <td>{{consumer.email}}</td>
    <td>
      <span>
        <a mat-icon-button
            [routerLink]="['/consumer', consumer.id]" >
          <mat-icon>edit</mat-icon>
        </a>
      </span>
      <span>
        <a mat-icon-button
            (click)="deleteConsumer(consumer.id)">
          <mat-icon>delete</mat-icon>
        </a>
      </span>
    </td>
  </tr>
</table>
