<form [formGroup]="loginForm" (ngSubmit)="login()">
  <p>
    <mat-form-field>
      <mat-label for="login">login</mat-label>
      <input matInput type="text" name="login" formControlName="login">
    </mat-form-field>
    <span *ngIf="loginForm.get('login')?.touched && loginForm.get('login')?.errors">
      <span *ngIf="loginForm.get('login')?.errors?.['required']">Login required</span>
      <span *ngIf="loginForm.get('login')?.errors?.['minlength']">minimal length is 3</span>
    </span>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="password">Password</mat-label>
      <input matInput type="text" name="password" formControlName="password">
    </mat-form-field>
  </p>
  <p>
    <button mat-button type="submit"
          [disabled]="loginForm.invalid"
          color="primary">Login</button>
  </p>
</form>


